body {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 4em;
  padding: 0;
  margin: 0;
}

.main-heading {
  font-size: 1.4em;
  padding-left: 0.3em;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 1em 0.7em;
}

.row span {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: 0.3em;
}

.row input {
  padding: 0.5em;
  outline: 0;
  border: 0;
  transition: 150ms ease-in;
  background-color: rgba(244, 244, 244, 0.7);
}

.row input:hover,
.row input:focus,
.row input:active {
  cursor: pointer;
  background-color: rgba(244, 244, 244, 0.9);
}

.purple-bg {
  background-color: purple;
  color: white;
}

.gainsboro-bg {
  background-color: gainsboro;
}

.white-bg {
  background-color: white;
}

.app-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2em;
}

.get-started, .rules, .benefits {
  grid-column-start: 2; 
  grid-column-end: 4; 
}

.main-nav {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.main-nav a {
  padding: 0.3em;
}

.main-nav a:hover {
  background-color: rgba(244, 244, 244, 0.7);
}

.main-nav a:active {
  background-color: rgba(244, 244, 244, 0.9);
}

a, a:hover, a:active, a:visited {
  color: black;
}

.benefits > section {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.benefits > section.hidden {
  max-height: 0;
  overflow: hidden;
}

.benefits > h3 {
  cursor: pointer;
}

.app-wrapper > h2 {
  text-align: center;
}